.ControlPanelContainer {
    width: 25%;
    max-width: 25%;
    position: absolute;
    height: 100%;
    max-height: 100%;
    padding: 1rem;
}

.ControlPanel{
    padding: 1rem;
    max-width: 100%;
    height: calc(92% - 64px);
    border-radius: 24px;
    border: solid 4px rgb(136, 136, 136);
    background-color: rgba(67, 67, 67, 0.461);
    backdrop-filter: blur(10px);
    transition: height 0.5s ease-in-out;
}

.ControlPanel.closed {
    overflow: hidden;
    height: 64px;
}